@font-face {
    font-family: 'CustomFont';
    src: url('../public/ZiYanShiQianChunWuYu-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CustomFont', sans-serif !important;
}